html {
  font-size: 62.5%;
  font-family: $text-family;
}

body {
  font-size: 100%;
  font-family: $text-family;
}

h1,
.title {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  color: $title-color-primary;
  font-size: $font-Xlarge;
  font-family: $title-family;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h2,
.subtitle {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  color: $title-color-primary;
  font-weight: bold;
  font-size: $font-large;
  font-family: $title-family;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h3,
.title-medium {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  color: $title-color-primary;
  font-size: $font-medium;
  font-family: $title-family;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h4,
.title-small {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  color: $title-color-primary;
  font-size: $font-small;
  font-family: $title-family;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p,
.text {
  display: block;
  width: 100%;
  color: $text-color-primary;
  font-size: $font-mini;
}

small {
  font-size: 100%;
}
