.radiobutton:checked,
.radiobutton:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radiobutton + label {
  position: relative;
  display: block;
  padding-bottom: 1px;
  padding-left: 24px;
  color: $black;
  cursor: pointer;

  &:focus {
    outline: 1px solid $blue;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.radiobutton:checked + label:before,
.radiobutton:not(:checked) + label:before {
  background: $snow;
  border: 1px solid $dark-snow;

  @include pseudo();
  @include rounded(2);
  @include position(0, null, null, 0);
}

.radiobutton:checked + label:after,
.radiobutton:not(:checked) + label:after {
  background: $black;
  transition: all 200ms ease;

  @include pseudo();
  @include position(0.5, null, null, 0.5);
  @include rounded(1);
}

.radiobutton:not(:checked) + label:after {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.radiobutton:checked + label:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
