.code-wrapper {
  display: block;
  box-sizing: border-box;
  margin: 40px 0;
  padding: 24px;
  color: #f3f3f3;
  font-size: 1rem;
  font-family: monospace, monospace;
  font-style: italic;
  background-color: #646464;
  border-radius: 8px;
}
