.login {
  background-color: $white;
  @include padding(3, 3);
  @include margin(4);

  &-title {
    display: block;
    overflow: hidden;
    color: $title-color-primary;
    font-size: $font-Xlarge;
    font-family: $title-family;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include margin(2, 0);
  }
  &-forgot {
    position: relative;
    float: right;
    margin: -40px 0 0;
    color: $dark-smoke;
    font-size: 1.4rem;
    text-transform: unset;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  &-btn {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
