.tag {
  display: inline-flex;
  align-items: center;
  max-width: 136px;
  height: 24px;
  overflow: hidden;
  color: $white;
  font-size: $font-micro;
  text-overflow: ellipsis;
  background: $dark-smoke;
  border-radius: $border-radius;

  @include margin(0, 1);

  @include padding(0.5, 1);

  @each $color-name, $color-value in $dark-shades {
    &.#{$color-name} {
      background: $color-value;
    }
  }

  > .close {
    margin-left: 8px;
  }
}
