.tag {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  height: 24px;
  color: $white;
  font-size: $font-micro;
  background: $dark-smoke;
  border-right: 8px solid #555;
  border-left: 8px solid #555;
  border-radius: $border-radius;

  @include truncate(154px);

  @include margin(0, 1);

  @each $color-name, $color-value in $dark-shades {
    &.#{$color-name} {
      background: $color-value;
    }
  }

  > .close {
    margin-left: 8px;
  }
}
