$btn-height: 32px;
$btn-minWidth: 60px;
$btn-maxWidth: 136px;

$btn-border-width: $border-width;
$btn-border-color: $border-light;
$btn-radius: $border-radius;

$btn-family: "PT Sans", sans-serif;
$btn-font-size: $font-mini;
$btn-flat-font-size: $font-mini;
