$shadow-color-small: rgba($black, 20%);
$shadow-blur-small: 4px;

$shadow-color: rgba($black, 40%);
$shadow-horizontal: 0;
$shadow-vertical: 0;
$shadow-blur: 5px;
$shadow-spread: 0;

$shadow-color-large: rgba($black, 80%);
$shadow-blur-large: 6px;
