input[type=text],
input[type=email],
input[type=time],
input[type=password],
input[type=number],
select,
.field {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    @include padding(0,1);
    margin-bottom:1.6rem;
    box-sizing: border-box;
    border-radius: $border-radius;
    background-color: $white;
    border: 1px solid $dark-snow;
    font-size: $font-tiny;
    color: $black;

    &:focus {
        outline-color: $blue;
        border-color: $blue;
    }
    &:disabled
    ,.disabled {
        background-color: $snow;
        border-color: $dark-snow;
        color: $smoke;
        cursor: not-allowed;
    }
}

select[multiple] {
    height: auto;
}

label,
.label {
    margin-bottom: 8px;
    font-size: $font-mini;
    color: $smoke;
}

textarea,
.text_box{

}
