input[type="text"],
input[type="email"],
input[type="time"],
input[type="password"],
input[type="number"],
select,
.field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  margin-bottom: 1.6rem;
  color: $black;
  font-size: $font-tiny;
  line-height: 32px;
  background-color: $white;
  border: 1px solid $dark-snow;
  border-radius: $border-radius;
  @include padding(0, 1);

  &:focus {
    border-color: $blue;
    outline-color: $blue;
  }
  &:disabled,
  .disabled {
    color: $smoke;
    background-color: $snow;
    border-color: $dark-snow;
    cursor: not-allowed;
  }
}

select[multiple] {
  height: auto;
}

label,
.label {
  margin-bottom: 8px;
  color: $smoke;
  font-size: $font-mini;
}

textarea,
.text_box {
}
