[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"] + label {
  position: relative;
  display: block;
  padding-bottom: 1px;
  padding-left: 24px;
  color: $black;
  cursor: pointer;

  &:focus {
    outline: 1px solid $blue;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: $snow;
  border: 1px solid $dark-snow;
  border-radius: 100%;
  content: "";
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: $black;
  border-radius: 100%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  content: "";
}

[type="radio"]:not(:checked) + label:after {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
